.Input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    position: relative;
}

.Label {
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.InputEl {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputEl:focus {
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #ffd0d0;
}

.Input .Error {
    position: absolute;
    left: 10px;
    bottom: -10px;
    color: red;
}